.fundo {
    width: 100%;
    height: calc(600px - 6px);
    border-bottom: 6px solid orange;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-image: url(https://st4.depositphotos.com/4489497/26624/i/450/depositphotos_266249810-stock-photo-sky-background-beautiful-clouds-sky.jpg)
}


       
.avião {
width: 350px;
position: absolute;
right: -10px;
top: 200px;
}
.card{
    margin-bottom: 50px;
    box-shadow: 2px 2px 20px black;
    transition: 2s;
    height: 400px;
}

 .card:hover{
width: 20rem !important;
transition: 2s;
 }
 .carousel{
    box-shadow: 2px 2px 20px blue;
    color: rgb(0, 0, 0);
    
 }
 .rodape{
    color: rgb(221, 221, 221);
    padding-top: 30px;
    border-top: 5px solid orange;
    padding-bottom: 30px;

 }
 .img-fluid{
 box-shadow: black;
 margin-top: 20px;
 margin-bottom: 30px;
 border-radius: 30px;
 transition: 2s;
 }

 .img-fluid:hover{
    filter:grayscale(100%);
    transition: 2s;
 }
 .informacao{
    margin-top: 30px;

 }
    .preco{
        font-size:20px !important;
    }
